.pytest_cache/
.py
*.zip
deps/
.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea
aws_cw_logs.egg-info/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/
